<a href="https://colab.research.google.com/github/Goodness18/Pandas-Analysis/blob/main/Introduction_Pandas_Drills.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>
<img src="https://drive.google.com/uc?export=view&id=1i1_Glu8nhZPHh9S5PSq16JIBmligAA_x"  alt="drawing" height="100"/>
<br><br>
 <img src="https://drive.google.com/uc?export=view&id=1C3xcWyRHizAnjfs1j_NZnYalapqQ-Lrq"  alt="drawing" height="150"/>
  
</center>

# Introduction to Pandas Workshop

## Jonathan Balaban and Joe Eddy

---

## Python
- One of world's most popular languages, especially for Data Science
- Design encourages simplicity and readability
- Robust language that easily integrates with other software components
- Object-oriented programming

## Google Colab/Jupyter Notebooks
- Executes Python code on the fly
- Interactivity allows for instant feedback
- Memory persists across cells
- `shift+enter` to run cells
- Use [markdown](https://blog.ghost.org/markdown/) (TEXT) mode for adding formatted text

## Introduction to Pandas

Pandas is a module in Python that is great for handling lots of data. Think of it as code-based Excel, allowing us to use spreadsheet functionality within a Data Science environment. We'll use it today to sort, reshape, and clean up data.

> **From the Pandas documentation:**
>
> Some things that pandas does well:
>
> - Easy handling of **missing data** (represented as NaN) in floating point as well as non-floating point data
- Size mutability: columns can be **inserted and deleted** from DataFrames and higher dimensional objects
- Automatic and explicit **data alignment**: objects can be explicitly aligned to a set of labels, or the user can simply ignore the labels and let Series, DataFrame, etc. automatically align the data for you in computations
- Powerful, flexible **group by** functionality to perform split-apply-combine operations on data sets, for both aggregating and transforming data
- Make it **easy to convert** ragged, differently-indexed data in other Python and NumPy data structures into DataFrame objects
- Intelligent **label-based slicing**, **fancy indexing**, and **subsetting** of large data sets
- Intuitive **merging** and **joining** data sets
- Flexible **reshaping** and **pivoting** of data sets
- **Hierarchical labeling** of axes (possible to have multiple labels per tick)
- **Robust IO tools** for loading data from flat files (CSV and delimited), Excel files, databases, and saving / loading data from the ultrafast HDF5 format
- **Time-series** functionality: date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging, etc.

Let's get a sense of how it works with a test data set from a weather report.

In [ ]:
import pandas as pd # pd is by convention
import numpy as np # as is np, always use these to make life easy

import matplotlib.pyplot as plt
import seaborn as sns

# To Plot matplotlib figures inline on the notebook
%matplotlib inline

The building blocks of pandas are called Series and DataFrames. A Dataframe is essentially a table, like shown below:

![alt text](https://github.com/ultimatist/DDS/blob/master/images/dataframe.png?raw=true)

Each row of the dataframe will be one specific record, and each column will be some aspect of that record. That will make more sense when we look at an example. Series are individual rows or columns (essentially if we break apart that dataframe into a single set of numbers). Let's look at that in action.

### POLL
>- When would using Pandas make sense?


>- When might you not want to use Pandas?

### Reading Data

To begin with, we're going to read in some data from a CSV.

In [ ]:
weather = pd.read_csv('https://raw.githubusercontent.com/ultimatist/DDS/master/data/weather.csv')
weather.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

Here we got our table, and it shows us that we're looking at the hourly weather at some point. We can see that the temperature was below freezing for each of the first four hours, that there was some fog, and that it was a little bit windy. We used `weather.head()` to show us just the first few rows. Otherwise, it would show us a HUGE amount of data. We can look at the last few rows with `weather.tail()`

In [ ]:
weather.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

Now let's use a Pandas built-in function to learn a little about our data.

In [ ]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/Time           8784 non-null   object
 1   Temp (C)            8784 non-null   float64
 2   Dew Point Temp (C)  8784 non-null   float64
 3   Rel Hum (%)         8784 non-null   int64
 4   Wind Spd (km/h)     8784 non-null   int64
 5   Visibility (km)     8784 non-null   float64
 6   Stn Press (kPa)     8784 non-null   float64
 7   Weather             8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

### POLL

>- Are these data types consistent with what we expect?

We can also look to see how much of our data makes sense by asking it to look at the numeric columns and give us some stats about them.

In [ ]:
weather.describe()

,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa)
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

In [ ]:
weather.shape

# why only six columns in describe?

>Great, looks like these are all behaving relatively as expected! That's lovely.

### Getting data from the dataframe

Now let's learn how to grab some data from the DataFrame. Also, let's look at what a _Series_ is. To start with, let's grab a column from our data (note that `head` says, "show me the first few rows of my dataframe, column, etc."):

In [ ]:
weather['Temp (C)'].head()

0   -1.8
1   -1.8
2   -1.8
3   -1.5
4   -1.5
Name: Temp (C), dtype: float64

This is a series! It has both the index (the left side) and the value. So we know which row it is and what the value is. That's pretty sweet. What can we do with a series? One really handy thing is getting the number of times a value shows up. Let's see that in action.

In [ ]:
weather['Weather'].value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Freezing Fog                                  4
Snow Showers,Fog                              4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Freezing Rain,Fog                             4
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Rain Showers,Fog                              1
Thunderstorms,Moderate Rain Showers,Fog       1
Snow Pellets                                  1
Rain,Snow,Fog                                 1
Moderate Rain,Fog                             1
Freezing Rain,Ice Pellets,Fog                 1
Drizzle,Ice Pellets,Fog                       1
Thunderstorms,Rain,Fog                        1
Rain,Ice Pellets                              1
Rain,Snow Grains                              1
Thunderstorms,Heavy Rain Showers              1
Freezing Rain,Snow Grains                     1
Name: Weather, dtype: int64

**Exercise 1:**

What is the most common Relative Humidity Percentage?

In [ ]:
# Hint: Value Counts

### Row Lookups

Cool. Now how do we access rows? We have to play a little bit of pandas games to do so. We'll use `.iloc` to do the job. Let's demonstrate by grabbing the first (0th) row.

In [ ]:
weather.iloc[0]

We can get multiple rows by following Python's conventions like so:

In [ ]:
weather.iloc[10:13]

We also might want to select multiple columns. We can do that like this:

In [ ]:
weather[['Temp (C)',"Dew Point Temp (C)"]].head()

# note that type of quote doesn't matter

And what if we want to get rows and columns?

In [ ]:
weather.loc[3:8, ['Temp (C)',"Dew Point Temp (C)"]]

**Note that iloc and loc have slightly different outputs, we're not going to have time to fully explore the difference... just remember that they're slightly different! iloc means "index location" and loc means "label location"**.

In [ ]:
weather.iloc[3:6]

In [ ]:
weather.loc[3:6]

### POLL

>- If you could use `iloc` or `loc`, which is preferred? Can you provide examples?

### Filtering

What if we want to filter the data so we only see rows that match a certain criteria. We can do that by making a mask. A mask is a series that is trues and falses, based on some condition. So let's ask it to check if the temperature was -1.8, and if so mark the row as a true and if not, mark it as a false.

In [ ]:
mask = (weather['Temp (C)'] == -1.8)
mask.head()

0     True
1     True
2     True
3    False
4    False
Name: Temp (C), dtype: bool

In [ ]:
weather['Temp (C)'].head()

0   -1.8
1   -1.8
2   -1.8
3   -1.5
4   -1.5
Name: Temp (C), dtype: float64

Now we apply the mask and should see that only rows with that temperature remain!

In [ ]:
weather_test = weather[mask]
weather_test.head(10)

What if we want to match multiple conditions? Let's do a double filter:

In [ ]:
mask = (weather['Temp (C)'] == -1.8) & (weather['Visibility (km)'] == 8.0)
weather[mask]

**Exercise 2:**

Apply a new filter to select only the hours where the temperature is above 25C and the humidity is at or above 80%. How many hours are like this?

In [ ]:
# Hint: create a filter called mask, then apply it to the dataframe

### Doing Stats with Pandas

Pandas also lets us do neat things like measuring statistics about our data. Let's look at the average temperature throughout the year.

In [ ]:
weather['Temp (C)'].mean()

Or find the max or min temperature:

In [ ]:
print(weather['Temp (C)'].max())

In [ ]:
print(weather['Temp (C)'].min())

**Exercise 3:**

Let's combine filtering and stats. Find the average wind speed for hours that are less than 10C.

In [ ]:
# Hint: Create the filter, apply it to the frame, then calculate something on the new dataframe

### Making new columns

Pandas also allows us to create columns that are mixtures of other columns. Let's make a column that is "visibility as a percentage of the maximum visibility".

In [ ]:
max_vis = weather['Visibility (km)'].max()
weather['percent_visibility'] = weather['Visibility (km)']/max_vis
weather.head()

**Exercise 4**

Let's convert temperature to Farenheit and create a new column to store that. The conversion to degrees F is done by multiplying the temperature in C by 1.8, then adding 32. Store this in a column called `Temp (F)`. If you've done it right, the first conversion should go from `-1.8C` to `28.76F` in a new column.

In [ ]:
# Hint: You can multiply a column by a number, and add numbers to it

### Plotting with Pandas

The last part of pandas we want to explore today is plotting. Let's plot a histogram of temperature over the year.

In [ ]:
weather['Temp (C)'].plot.hist()
plt.xlabel("Temperature (C)");

### POLL

> - Is this a good visual?

>- How could it be improved?

What about weather over time? Let's do a line plot of the temperature.

In [ ]:
weather['Temp (C)'].plot.line()

Neat! Except, that doesn't show us the date on the X-Axis. That's because right now, we don't have the date as the index. Let's fix that.

In [ ]:
weather['Date/Time'] = pd.to_datetime(weather['Date/Time'])
weather = weather.set_index('Date/Time')

In [ ]:
weather['Temp (C)'].plot.line()

**Exercise 5**

Plot a histogram of wind speeds. Also plot the wind speed versus the time.

In [ ]:
# Hint: plot.hist(), plot.line()

## Exercises

In the data folder, there is a csv that contains the file `auto-mpg.csv`. That data is from here: https://archive.ics.uci.edu/ml/datasets/auto+mpg

This contains information about makes/models of cars and their reported fuel efficiency. We'll use that as a baseline for some hands on work with Pandas.

### Challenge 1: Load the file into a Pandas dataframe, then print the top 5 rows

Store this dataframe in a variable called `autos`

In [ ]:
# hint: look for the raw data file's link

### Challenge 2: Find the mean weight and the mean mpg in the dataset as a whole. Now find those for all vehicles with model_year equal to 77

### Challenge 3: Create a column that is horsepower per cylinder

In [ ]:
# hint: there are multiple solutions, can you find more than one?

### Challenge 4: Make two histograms, one of hp_per_cylinder and one of horsepower.

In [ ]:
# hp_per_cylinder

In [ ]:
# horsepower

# Where to go from here?

We hope you see the power of Pandas and how it can apply to your analytics and data science projects! Here are some other great resources:

- [10 Minutes to pandas](http://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html)  *-- Official beginner guide*
- [Python Pandas Tutorial](https://www.tutorialspoint.com/python_pandas/) *-- TutorialPoint tutorial*
- [A Complete Introduction for Beginners](https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/)   *-- LearnDataSci guide*

<br>

Thanks for joining us today; enjoy exploring the power of Pandas!

<br>